//////////////////////////
//     VARIABELS        //
//////////////////////////

$font-stack:   'Roboto', Helvetica, sans-serif;

$light-blue: #00A5CF;
$aqua-blue: #004E64;
$black: #0D0A0B;
$dark-grey: #343838;
$white: #FFFFFF;
$light-grey: #F2F2F2;
$grey: #E0E0E0;


//////////////////////////
//     General          //
//////////////////////////

body {
	margin: 0 0;
	padding: 0 0;
}

h1, h2, h3, h4, p, a {
	font-family: $font-stack;
	padding: 0; 
	margin: 0;
}

h1, h2, h3, h4, a{
	font-weight: 300;
}

.CTA-btn {
	color: $white; 
	text-decoration: none;
	font-size: 24px;
	border: solid 1px $white;
	border-radius: 10px;
	padding: 5px 10px;
	background-color: Transparent;
	font-weight: 300;
	font-family: $font-stack;
	width: 150px;
}

.filled {
	background-color: $aqua-blue;
	border: solid 1px $aqua-blue;
}

.outlined {
	border: solid 1px $aqua-blue;
	color: $aqua-blue;
}

button {
    cursor:pointer;
}


//////////////////////////
//   Sign-up & sign-in  //
//////////////////////////

.full-size {
	width: 100%;
	height: 100vh;
	background-image: url("gfx/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: $white;

	.content {
		width: 500px;
		margin: 0 auto;
		padding-top: 150px;

		.content-image {
			margin: 0 auto;
			height: 83px;
    		width: 300px;
			background-image: url("gfx/logo-hvid.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		.form {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			padding-top: 40px;
			
			h1 {
				padding-bottom: 20px;
			}

			input{
				padding: 15px;
				margin-top: 5px;
				width: 300px;
				border: none;
				font-family: $font-stack;
				font-size: 14px;
			}

			input[type="email"] {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			input[type="password"] {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}

			.login-error {
				padding-top: 10px;
				p {
					color: red;
				}
			}

			.CTA-btn {
				margin: 20px 0;
				transition: transform .2s;
			}

			.CTA-btn:hover {
				transform: scale(1.2);
			}

			p {
				font-weight: 300;

				a {
					text-decoration: none;
					color: $white;
					font-weight: 400;
				}

				a:hover {
					text-decoration: underline;
				}
			}
		}
	}

	@media screen and (max-width: 501px) { 
		.content {
			width: 80%;
			padding-top: 100px;

			.content-image {
				width: 250px;
				height: 68px;
			}

			.form {

				input {
					width: 220px;
				}
			}
		}
	}
}


//////////////////////////
//      Dashboard       //
//////////////////////////

.dashboard {
	width: 100%;
	min-height: 100vh;
	display: flex;

	.sidebar {
		background-color: $dark-grey;
		flex-grow: 0;
		min-width: 250px;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    z-index: 1;

		.sidebar-logo {
			height: 35px;
    		width: 150px;	
			background-image: url("gfx/logo-blue.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			margin: 25px auto 20px auto;
		}

		.section {
			height: 60px;

			button {
				float: left;
				background-color: Transparent;
				border: none; 
   				margin-top: 15px;
   				position: absolute;
				margin-left: 20px;
				z-index: 2;				
				transition: transform .2s;

			}

			button:hover {
				transform: scale(1.2);
			} 

			h4 {
				position: relative;
				margin: 0 auto;
				text-align: center;
				color: $white;
				font-size: 20px;
				overflow: hidden;
				line-height: 60px;
				z-index: 1;

				a {
					text-decoration: none;
					color: $white;
					transition: font-size .3s;
				} 

				a:hover {
					font-size: 24px;
				}

				.active {
					color: $light-blue;
				}
			}
		}

		.delete-section {
			button {
				margin-top: 15px;
    			margin-left: 25px;
			}
		}

		.divider {
			height: 3px;
			background: #343838;
			box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.50);
		}
	}

	.content {
		background-color: $light-grey;
		width: 100%;
		background-image: url("gfx/bg-image.svg");
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
		flex-grow: 5;
		box-shadow: -4px 0 14px -4px rgba(0,0,0,0.50);

		.navigation {
			position: fixed;
			top: 0;
			width: 100%;
			background-color: $white;
			box-shadow: -4px 2px 14px -4px rgba(0,0,0,0.50);
			overflow: hidden;

			.navigation-right {	
				float: right;
    			text-align: right;

				ul {
					list-style: none;

					li {
						display: inline-block;
						padding: 10px 20px;
						a {
							color: $aqua-blue; 
							text-decoration: none;
							font-size: 24px;
						}

						button {
							color: $aqua-blue; 
							text-decoration: none;
							font-size: 24px;
							border: none;
							background-color: Transparent;
							font-weight: 300;
						}

						a:hover, button:hover {
							text-decoration: underline;
						}

					}
				}
			}
		}

		.content-area {
			padding-top: 150px;
			margin-left: 250px;

			.alert {
				text-align: center;
				width: calc(100% - 250px);
				position: Absolute;
				margin-top: -65px;
				padding: 15px 0;
			}

			.green {
				color: #3c763d;
				background-color: #dff0d8;
			    border: solid 1px #d6e9c6;	    
			}

			.red {
				color: #a94442;
    			background-color: #f2dede;
			    border: solid 1px #ebccd1;
			}

			.blue {
				color: #31708f;
   				background-color: #d9edf7;
			    border: solid 1px #bce8f1;	    
			}

			.items {
	    		text-align: center;

				.item {
					background-color: $white;
					width: 80%;
					margin: 0 auto;
					box-shadow: 2px 3px 14px -4px rgba(0,0,0,0.50);
					border-radius: 5px;
					margin-bottom: 50px;

					.CTA-btn {
						margin: 20px 10px 30px 10px;
						transition: transform .3s;
					}

					.CTA-btn:hover {
						transform: scale(1.2);
					}
					
					.item-top {
						overflow: hidden;
						padding-top: 20px;

						.delete {
							background-color: Transparent; 
							border: none;
							float: right;
							margin: 25px 20px 10px 10px;
							transition: transform .3s;
						}

						.delete:hover {
							transform: scale(1.2);
						}

						.item-title {
							float: left;
							margin: 20px;
							padding: 15px;
							width: 75%;
							border: solid 1px $grey;
							font-family: $font-stack;
							font-size: 14px;
							background-color: $light-grey;
							border-radius: 2px;
						}
					}

					.item-content {
						margin: 10px 20px;
						padding: 15px;
						width: 90%;
						border: solid 1px $grey;
						font-family: $font-stack;
						font-size: 14px;
						background-color: $light-grey;
						border-radius: 2px;
						float: left;
					}
				}
			}
		}
	}

	.not-empty {
		background-image: none;
	}

	.new-item {
		text-align: center;
		margin-bottom: 50px;

		.filled {
			background-color: $aqua-blue;
			border: solid 1px $aqua-blue;
			padding: 7px 10px;
			width: 200px;
			transition: transform .3s;
		}

		.filled:hover {
			transform: scale(1.2);
		}
	}
}



//////////////////////////
//     Documentation    //
//////////////////////////

.sidebar {
	.TOC {
		padding-top: 10px;
		padding-left: 10px;
		color: $white;
		font-family: $font-stack;
		font-weight: 300;
		line-height: 1.5;
	}
}

.dashboard {
	.documentation {
		background-image: none;

		.documentation-text {
			padding: 150px 60px 0 60px;
			color: $dark-grey;
			margin-left: 250px;

			h1 {
				padding-bottom: 20px;
			}

			h2 {
				padding-bottom: 15px;
			}

			h3 {
				padding-bottom: 10px;
			}

			p {
				padding-bottom: 40px;
			}
		}
	}
}


//////////////////////////
//        Modals        //
//////////////////////////

.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);

    .modal-content {
	    background-color: $white;
	    margin: 15% auto;
	    padding: 20px;
	    border-radius: 20px;
	    width: 340px;
	    text-align: center;
	    box-shadow: 2px 3px 14px -4px rgba(0,0,0,0.50);
		
		h1 {
			padding: 5px;
		}

	    h2, p {
	    	padding: 5px 0 20px 0;
	    }

	    .two-buttons {

	    	.filled {
	    		margin-right: 10px;
	    	}
	    }
	}
}

.apiModal {
	display: none;
}

.delete-section-modal {
	display: none;
}

.delete-item-modal {
	display: none;
}

.update-item-modal {
	display: none;
}