body {
  margin: 0 0;
  padding: 0 0; }

h1, h2, h3, h4, p, a {
  font-family: "Roboto", Helvetica, sans-serif;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, a {
  font-weight: 300; }

.CTA-btn {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  border: solid 1px #FFFFFF;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: Transparent;
  font-weight: 300;
  font-family: "Roboto", Helvetica, sans-serif;
  width: 150px; }

button {
  cursor: pointer; }

.full-size {
  width: 100%;
  height: 100vh;
  background-image: url("gfx/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF; }
  .full-size .content {
    width: 500px;
    margin: 0 auto;
    padding-top: 150px; }
    .full-size .content .content-image {
      margin: 0 auto;
      height: 83px;
      width: 300px;
      background-image: url("gfx/logo-hvid.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .full-size .content .form {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding-top: 40px; }
      .full-size .content .form h1 {
        padding-bottom: 20px; }
      .full-size .content .form input {
        padding: 15px;
        margin-top: 5px;
        width: 300px;
        border: none;
        font-family: "Roboto", Helvetica, sans-serif;
        font-size: 14px; }
      .full-size .content .form input[type="email"] {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
      .full-size .content .form input[type="password"] {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }
      .full-size .content .form .CTA-btn {
        margin: 20px 0; }
      .full-size .content .form p {
        font-weight: 300; }
        .full-size .content .form p a {
          text-decoration: none;
          color: #FFFFFF;
          font-weight: 400; }
        .full-size .content .form p a:hover {
          text-decoration: underline; }
  @media screen and (max-width: 501px) {
    .full-size .content {
      width: 80%;
      padding-top: 100px; }
      .full-size .content .content-image {
        width: 250px;
        height: 68px; }
      .full-size .content .form input {
        width: 220px; } }

.dashboard {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .dashboard .sidebar {
    background-color: #343838;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    min-width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1; }
    .dashboard .sidebar .sidebar-logo {
      height: 35px;
      width: 150px;
      background-image: url("gfx/logo-blue.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 25px auto 20px auto; }
    .dashboard .sidebar .section {
      height: 60px; }
      .dashboard .sidebar .section button {
        float: left;
        background-color: Transparent;
        border: none;
        line-height: 60px;
        margin-top: 10px;
        position: absolute;
        margin-left: 20px;
        z-index: 2; }
      .dashboard .sidebar .section h4 {
        position: relative;
        margin: 0 auto;
        text-align: center;
        color: #FFFFFF;
        font-size: 20px;
        overflow: hidden;
        line-height: 60px;
        z-index: 1; }
        .dashboard .sidebar .section h4 a {
          text-decoration: none;
          color: #FFFFFF; }
        .dashboard .sidebar .section h4 .active {
          color: #00A5CF; }
    .dashboard .sidebar .delete-section button {
      margin-top: 5px;
      margin-left: 25px; }
    .dashboard .sidebar .divider {
      height: 3px;
      background: #343838;
      -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5); }
  .dashboard .content {
    background-color: #F2F2F2;
    width: 100%;
    background-image: url("gfx/bg-image.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-flex: 5;
    -ms-flex-positive: 5;
    flex-grow: 5;
    -webkit-box-shadow: -4px 0 14px -4px rgba(0, 0, 0, 0.5);
    box-shadow: -4px 0 14px -4px rgba(0, 0, 0, 0.5); }
    .dashboard .content .navigation {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #FFFFFF;
      -webkit-box-shadow: -4px 2px 14px -4px rgba(0, 0, 0, 0.5);
      box-shadow: -4px 2px 14px -4px rgba(0, 0, 0, 0.5);
      overflow: hidden; }
      .dashboard .content .navigation .navigation-right {
        float: right;
        text-align: right; }
        .dashboard .content .navigation .navigation-right ul {
          list-style: none; }
          .dashboard .content .navigation .navigation-right ul li {
            display: inline-block;
            padding: 10px 20px; }
            .dashboard .content .navigation .navigation-right ul li a {
              color: #004E64;
              text-decoration: none;
              font-size: 24px; }
    .dashboard .content .content-area {
      padding-top: 150px;
      margin-left: 250px; }
      .dashboard .content .content-area .items {
        text-align: center; }
        .dashboard .content .content-area .items .item {
          background-color: #FFFFFF;
          width: 80%;
          margin: 0 auto;
          -webkit-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          margin-bottom: 50px; }
          .dashboard .content .content-area .items .item .filled {
            background-color: #004E64;
            border: solid 1px #004E64; }
          .dashboard .content .content-area .items .item .outlined {
            border: solid 1px #004E64;
            color: #004E64; }
          .dashboard .content .content-area .items .item .CTA-btn {
            margin: 20px 10px 30px 10px; }
          .dashboard .content .content-area .items .item .item-top {
            overflow: hidden;
            padding-top: 20px; }
            .dashboard .content .content-area .items .item .item-top .delete {
              background-color: Transparent;
              border: none;
              float: right;
              margin: 25px 20px 10px 10px; }
            .dashboard .content .content-area .items .item .item-top .item-title {
              float: left;
              margin: 20px;
              padding: 15px;
              width: 75%;
              border: solid 1px #E0E0E0;
              font-family: "Roboto", Helvetica, sans-serif;
              font-size: 14px;
              background-color: #F2F2F2;
              border-radius: 2px; }
          .dashboard .content .content-area .items .item .item-content {
            margin: 10px 20px;
            padding: 15px;
            width: 90%;
            border: solid 1px #E0E0E0;
            font-family: "Roboto", Helvetica, sans-serif;
            font-size: 14px;
            background-color: #F2F2F2;
            border-radius: 2px;
            float: left; }
  .dashboard .not-empty {
    background-image: none; }
  .dashboard .new-item {
    text-align: center;
    margin-bottom: 50px; }
    .dashboard .new-item .filled {
      background-color: #004E64;
      border: solid 1px #004E64;
      padding: 7px 10px;
      width: 200px; }

.sidebar .TOC {
  padding-top: 10px;
  padding-left: 10px;
  color: #FFFFFF;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5; }

.dashboard .documentation {
  background-image: none; }
  .dashboard .documentation .documentation-text {
    padding: 150px 60px 0 60px;
    color: #343838;
    margin-left: 250px; }
    .dashboard .documentation .documentation-text h1 {
      padding-bottom: 20px; }
    .dashboard .documentation .documentation-text h2 {
      padding-bottom: 15px; }
    .dashboard .documentation .documentation-text h3 {
      padding-bottom: 10px; }
    .dashboard .documentation .documentation-text p {
      padding-bottom: 40px; }
