//////////////////////////
//     VARIABELS        //
//////////////////////////
$font-stack:   'Roboto', Helvetica, sans-serif;

$light-blue: #00A5CF;
$aqua-blue: #004E64;
$black: #0D0A0B;
$dark-grey: #343838;
$white: #FFFFFF;
$light-grey: #F2F2F2;
$grey: #E0E0E0;


