body {
  margin: 0 0;
  padding: 0 0; }

h1, h2, h3, h4, p, a {
  font-family: "Roboto", Helvetica, sans-serif;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, a {
  font-weight: 300; }

.CTA-btn {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  border: solid 1px #FFFFFF;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: Transparent;
  font-weight: 300;
  font-family: "Roboto", Helvetica, sans-serif;
  width: 150px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }

.CTA-btn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 20px; }
  .navigation .navigation-left {
    float: left;
    padding-left: 30px; }
    .navigation .navigation-left .navigation-left-img {
      height: 100px;
      width: 300px;
      background-image: url("gfx/logo-hvid.svg");
      background-size: contain;
      background-repeat: no-repeat; }
  .navigation .navigation-right {
    float: right;
    padding-right: 20px; }
    .navigation .navigation-right ul {
      list-style: none; }
      .navigation .navigation-right ul li {
        display: inline;
        padding: 20px; }
        .navigation .navigation-right ul li a {
          color: #FFFFFF;
          mix-blend-mode: difference;
          text-decoration: none;
          font-size: 24px; }
        .navigation .navigation-right ul li a:hover {
          text-decoration: underline; }
  @media screen and (max-width: 870px) {
    .navigation .navigation-left .navigation-left-img {
      height: 60px;
      width: 60px;
      background-image: url("gfx/box.svg"); } }
  @media screen and (max-width: 620px) {
    .navigation .navigation-right ul li {
      padding: 10px; }
      .navigation .navigation-right ul li a {
        font-size: 18px; } }
  @media screen and (max-width: 480px) {
    .navigation .navigation-left {
      float: none;
      width: 100%;
      padding: 0;
      padding-bottom: 5px; }
      .navigation .navigation-left .navigation-left-img {
        margin: 0 auto;
        height: 50px;
        width: 182px;
        background-image: url("gfx/logo-hvid.svg"); }
    .navigation .navigation-right {
      float: none;
      width: 100%;
      padding-top: 15px; }
      .navigation .navigation-right ul {
        margin: 0 auto;
        text-align: center;
        padding: 0; }
        .navigation .navigation-right ul li {
          padding: 5px; } }

.hero {
  height: 760px;
  width: 100%;
  background-color: #004E64;
  color: #FFFFFF;
  overflow: hidden; }
  .hero .hero-left {
    float: left;
    padding-top: 200px;
    padding-left: 10%;
    width: 25%;
    min-width: 310px; }
    .hero .hero-left h1 {
      padding: 15px 0; }
    .hero .hero-left h3 {
      padding: 10px 0 20px 0;
      line-height: 1.5; }
  .hero .hero-right {
    float: right;
    padding-top: 150px;
    padding-right: 40px;
    width: 50%; }
    .hero .hero-right .hero-right-image {
      height: 500px;
      width: 100%;
      background-image: url("gfx/iMac.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
  @media screen and (max-width: 950px) {
    .hero .hero-left {
      padding-left: 5%; } }
  @media screen and (max-width: 870px) {
    .hero .hero-left {
      float: none;
      padding-top: 120px;
      padding-left: 15%; }
    .hero .hero-right {
      padding-top: 35px;
      padding-right: 7%;
      width: 440px; }
      .hero .hero-right .hero-right-image {
        background-position: top; } }
  @media screen and (max-width: 520px) {
    .hero .hero-left {
      width: 80%;
      min-width: 200px;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0; }
    .hero .hero-right {
      float: none;
      width: 80%;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (max-width: 475px) {
    .hero .hero-left {
      padding-top: 150px; } }

.info {
  background-color: white;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden; }
  .info h2 {
    color: #00A5CF;
    padding-bottom: 50px; }
  .info .info-row {
    height: 350px;
    text-align: left;
    width: 50%;
    margin: 0 auto;
    padding-top: 30px; }
    .info .info-row .info-row-left {
      float: left;
      width: 42%; }
      .info .info-row .info-row-left .info-row-image {
        float: right; }
    .info .info-row .info-row-right {
      float: right;
      width: 42%; }
    .info .info-row h3 {
      padding-top: 50px;
      color: #00A5CF;
      padding-bottom: 10px; }
    .info .info-row p {
      color: #343838;
      line-height: 1.3; }
    .info .info-row .info-row-image {
      height: 350px;
      width: 350px; }
    .info .info-row .step-1 {
      background-image: url("gfx/snap-girl.svg");
      background-size: contain;
      background-repeat: no-repeat; }
    .info .info-row .step-2 {
      background-image: url("gfx/developer.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top; }
    .info .info-row .step-3 {
      height: 300px;
      background-image: url("gfx/happy-girl.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right; }
  @media screen and (max-width: 900px) {
    .info .info-row {
      width: 80%; }
      .info .info-row .info-row-image {
        height: 300px;
        width: 300px; } }
  @media screen and (max-width: 800px) {
    .info .info-row {
      height: 100%;
      width: 80%;
      margin: 0 auto;
      padding-top: 0px; }
      .info .info-row .info-row-right, .info .info-row .info-row-left {
        float: none;
        height: 100%;
        width: 100%;
        max-width: 350px;
        margin: 0 auto; }
        .info .info-row .info-row-right .info-row-image, .info .info-row .info-row-left .info-row-image {
          float: none;
          margin: 0 auto; }
        .info .info-row .info-row-right h3, .info .info-row .info-row-right p, .info .info-row .info-row-left h3, .info .info-row .info-row-left p {
          text-align: center;
          padding-top: 15px; }
        .info .info-row .info-row-right p, .info .info-row .info-row-left p {
          padding-top: 0; }
        .info .info-row .info-row-right .step-3, .info .info-row .info-row-left .step-3 {
          height: 350px;
          width: 170px;
          background-position: center bottom; }
        .info .info-row .info-row-right .step-2, .info .info-row .info-row-left .step-2 {
          background-position: center bottom; }
        .info .info-row .info-row-right .step-1, .info .info-row .info-row-left .step-1 {
          background-position: center bottom; } }
  @media screen and (max-width: 400px) {
    .info .info-row {
      width: 80%; }
      .info .info-row .info-row-image {
        height: 200px;
        width: 200px; } }

.pricing {
  height: 100%;
  width: 100%;
  background-image: url("gfx/pricing-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center; }
  .pricing h2 {
    padding-top: 50px;
    color: #FFFFFF; }
  .pricing .pricing-row {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFFFFF;
    font-family: "Roboto", Helvetica, sans-serif;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .pricing .pricing-row ul {
      line-height: 1.5;
      font-size: 18px;
      font-weight: 300; }
    .pricing .pricing-row .pricing-row-CTA {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding-top: 20px; }
      .pricing .pricing-row .pricing-row-CTA p {
        padding: 20px; }
    .pricing .pricing-row .pricing-row-left {
      width: 250px;
      padding-top: 25px; }
      .pricing .pricing-row .pricing-row-left .pricing-row-left-logo {
        margin: 0 auto;
        height: 30px;
        width: 128px;
        background-image: url("gfx/logo.svg");
        background-size: contain;
        background-repeat: no-repeat; }
    .pricing .pricing-row .pricing-row-divider {
      color: #FFFFFF;
      width: 80px; }
      .pricing .pricing-row .pricing-row-divider hr {
        background-color: white;
        border: none;
        margin: 0 auto; }
    .pricing .pricing-row .pricing-row-right {
      width: 250px;
      padding-top: 25px; }
      .pricing .pricing-row .pricing-row-right .pricing-row-right-logo {
        margin: 0 auto;
        height: 60px;
        width: 157px;
        background-image: url("gfx/frontfill-pro.svg");
        background-size: contain;
        background-repeat: no-repeat; }
  @media screen and (max-width: 600px) {
    .pricing .pricing-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: 10px; }
      .pricing .pricing-row .pricing-row-divider {
        display: none; }
      .pricing .pricing-row .pricing-row-left, .pricing .pricing-row .pricing-row-right {
        margin: 0 auto; }
      .pricing .pricing-row .pricing-row-right {
        border-top: 2px solid #FFFFFF;
        padding-top: 40px;
        margin-top: 30px; } }

.footer {
  overflow: hidden; }
  .footer .footer-img {
    float: right;
    height: 100px;
    width: 300px;
    background-image: url("gfx/logo-farvet.svg");
    background-size: contain;
    background-repeat: no-repeat; }
